@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .overlay-text {
        position: absolute;
        bottom: 18px;
        left: 30px;
        font-family: "Inter", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
        color: white;
      }
  
      #thumbnails img {
        height: 100px;
        width: 210px;
      }
  
      .overlay-text-1 {
        position: absolute;
        bottom: 18px;
        left: 30px;
        font-family: "Inter", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
        color: white;
      }
  
      .overlay-text-2 {
        position: absolute;
        bottom: 18px;
        left: 30px;
        font-family: "Inter", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
        color: white;
      }
  
      .relative-container {
        position: relative;
        width: max-content;
        margin: 0 auto;
      }
  
      .search-hotel h2 {
        font-family: 'Inter', sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 36.31px;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
  
      .search-hotel p {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: rgba(0, 0, 0, 0.6)
      }
      .active {
        background-color: rgba(0, 0, 0, 0.8);
        color: #FFFFFF;
      }
  
      #modalImage {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
  
      #modalImage.fade-out {
        opacity: 0;
      }
  
      .header-container {
        border-radius: 0px, 0px, 30px, 30px;
      }
  
      .title-design {
        top: -20px;
        right: -32px;
        position: absolute;
      }
  
      .active {
        background-color: rgba(0, 0, 0, 0.8);
        /* Example active color */
        color: #FFFFFF;
        /* Example active text color */
      }
      
      .overlay {
        position: absolute;
        top: 30px;
        left: 45px;
      }
  
      .content {
        margin-top: 20px;
      }
  
  
      .transition-opacity {
        transition: opacity 1s ease-in-out;
      }


      

}